<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PG sign in</title>
    <link rel="stylesheet" href="../public/style_i.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="coverDiv" >
        <div class="outercontainer">
            <header class="heading">
                    <h1 class="libre-baskerville-bold">VISHWAS SADAN PG</h1>
                    <ul class="list libre-baskerville-regular">
                        <li><a class="list_item" href="/">Home</a></li>
                        <li><a class="list_item" href="/">About</a></li>
                        <li><a class="list_item" href="/Login.html">Sign in</a></li>
                    </ul>
                </header>
            <div class="login_outer libre-baskerville-regular">
                    <form class="login_form" action="/" method="post">
                        <div class="formlabel">
                            <label for="userName">User : </label>
                            <input type="text" id="userName">
                        </div>
                        <div class="formlabel">
                            <label for="password">Password : </label>
                            <input type="password" id="password">
                        </div>
                        <div class="formlabel">
                            <input class="submit_btn" type="submit">
                        </div>
                    </form>
            </div>
            <!-- <hr class="hr_footer"> -->
        </div>
        <div class="footer">
            <p class="footer_p">&copy; PG groups 2024</p> 
         </div>
    </div>
</body>
</html>