body{
    margin:0px;
    padding:0px;
    border:0px;
}
.outercontainer{
    background-image: url(./images/index_img.jpg);
    background-size: cover;
    height:100vh;
    padding-bottom: 10%;
    margin-bottom: 0%;
    opacity: 90%;
}
.heading{
    background-color: #F2F2F2;
    z-index: 100;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding-left: 5%;
    padding-right :10%;
}
.list{
    font-size: 1.1rem;
    padding:10px;
    display:flex;
    gap: 25px;
    justify-content:space-around;
    align-items: center;
    list-style-type: none;
}
.list_item{
    text-decoration:none;
}
.about{
    color: white;
    font-size: 1.8rem;
    padding:10%;
    padding-bottom: 0%;
    background-image: url(./images/index_img.jpg);
    background-size: cover;
    margin-bottom: 0%;
}
.about_p{
    line-height: 1.8;
    margin-bottom:100px;
    z-index: 2;
}
.footer{
    margin-top:0px;
    padding:0px;
    background-color: 	#F2F2F2;
    color:black;
}
.footer_p{
    padding-top:15px;
    padding-bottom:15px;
    padding-left:15px;
    margin:0px;
}



/* font baskerville */
.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
  }
  